*{
    /* margin: 0px;
    padding: 0px; */
    font-family: sans-serif;
}
body{
    background-color: #f2cc8f;
}
.hero{
    position: absolute;
    width: 100px;
    
    
}
.logo{
    width: 300px;
   
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: -100px 20;
    align-items: center;
    justify-content: space-between;
    

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav ul li a:hover{
    color: orange;
}
.detel{
    margin-left: 8%;
    margin-top: 150px;
}
.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}
span{
    color: orange;
}
.detel p{
    color: #fffafa;
    line-height: 22px;
}
.detel a{
    background-color: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #eff4fd;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.detel:hover a{
    color: white;
    background-color: orange;
}
.image{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 150px;
    right: 103px;
}
.image img{
    height: 300px;
    position: absolute;
    left: 300px;
    bottom: -100px;
    transform: translate(-20%);
    transition: bottom 1s,left 1s;
}
.image:hover .shape{
    bottom: 40px;
    cursor: pointer;
}
.image:hover .boy{
    left: 200px;
    height: -150px;
    cursor: pointer;
}
.close{
    margin-left: 8%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.close h3{
    color: rgb(248, 248, 248);
    border: 2px solid rgb(0, 0, 0);
    background-color: black;
    border-radius: 10px;
}
.close h3:hover{
    background-color: orange;
}
.close p{
    color: #fffafa;
}
.open{
    font-size: 20px;
    position: absolute;
    bottom: -279px ;
    left: 555px;
}
.open span{
    color:orange;
    font-family: 'Times New Roman', Times, serif ;  
}
.open h1{
    color: #fffafa;
    font-family: 'Times New Roman', Times, serif  ;
}
.open p{
    color:black;
}
.demo{
    width: 100px;
    height: 100px;
    margin-top: 308px;
    margin-bottom: 43px;
}
.demo img{
    height: 300px;
}
.create{
    position: absolute;
    top: 1011px;
    left: 270px;
    display:block;
    align-items: center;
    justify-content: center;

}
.create img{
    border: 10px solid black;
}
.create img:hover{
    transform: scale(1.2);
    border-radius: 50px;
    border: whitesmoke;
    transition: 0.5s;
}
.icons{
    padding: 20px;
    margin: 80px;
    position: absolute;
    bottom: -1300px;
    left: 400px;
}
.icons aside{
    width: 200px;
    display: inline;
    align-items: center;
    justify-content: center;
    flex-basis: 40%;
}

.icons span{
    color: #ffffff;
}
